
.main_content{
    width:100%;
    margin:0;

    background-color:#FFF;
}

.white_background{
    background-color:#FFFFFF;
    padding-top:55px;
}
.white_background .choose-contacts{
	height:55px;
}
.white_background .choose-contacts ul{
	list-style:none;
}
.white_background .choose-contacts ul li a{
	height:39px;
    font-weight: 100;
}
.white_background .choose-contacts ul li a:hover{
	text-decoration: none !important;
	border-bottom: 3px solid #2e9df7;
	color: #2e9df7 !important;
    height: 54px;
}
.white_background .choose-contacts ul li a.active{
    border-bottom: 3px solid #2e9df7;
    color: #2e9df7 !important;
    height: 54px;
}
.icon {text-align:center;padding:10px 0;}
.tc{text-align:center;}
.fullwidth{width:100%;padding:0 2%;}
.section_divider{width:100%; border: 1px solid #CCC; margin:20px 0;}


.cloud_endpoint{width:100%; margin:90px auto 0 auto;}
.cloud_endpoint img{width:65%;}

.cloud_deployment #cloud_deployment {
    display: block;
    width: 694px;
    height: 499px;
    border-radius: 20px;
    margin: 40px auto;
    background-image: url('../i/backend/cloud_deployment1.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.amazon{width:65%; margin:0 auto;}
.amazon img{width:100%;}
.amazon{width:100%; margin:0 auto;}
.amazon img{width:65%;}

.clearfix {position:relative;zoom:1;display:block;}
.clearfix:after {clear:both;visibility:hidden;content:".";font-size:0;line-height:0;display:block;}

h2 {font:bold italic 26px/24px helveticaneuecyrlight, arial;background:#58595B;color:#fff;text-align:center;padding:10px 0; margin:20px 0;}
h2 span {font-weight:400;font-style:normal;display:block;font-size:20px;
 line-height:30px;}
p{margin:5px 0;font-size:20px;
 line-height:30px;}
li{list-style-type: none}
